:root{
--main-color: rgb(175, 143, 95);
    /* --body-color: rgb(248, 237, 213); */
    /* --body-color: #fcf0d7;  */
    --body-color: #0a0a0a;
    --alt-color: rgb(179, 131, 69);
    /* --text-color: rgb(233, 168, 94); */
    --text-color: #fff;
    --hover-text: rgb(233, 168, 94); 
    
}

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
    background-color: var(--body-color);
    overflow-x: hidden;
    

    /* background: linear-gradient(to right , #000 , #181515); */
}


h1{
    font-size: 3rem;
    font-weight:700;
    line-height: 1.4;
    color:#fff;
}
@media(max-width:992px){
    h1{
        font-size: 2.5rem;
    }
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    /* color: var(--alt-color); */
    color: #fff;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    width: 10rem;
    height: 0.5rem;
    background: linear-gradient(to right, var(--main-color), var(--alt-color));
    animation: moveColor 2s infinite alternate;
}


  
a{
    color: #fff !important;
    font-size: 1.5rem !important;
    font-weight: 500;

}
p{
    color: #fff;
}
a:hover{
    color: var(--text-color) !important;
}


section{
    padding: 7rem 2rem;
    overflow: hidden;
    /* background-color: var(--main-color); */
}
nav{
    overflow: hidden !important;
}
@media(max-width:300px){
    html{
        font-size: 11px;
    }
    
}

@media(max-width:567px){
    html{
        font-size: 12px ;
    }
    
}

@media(min-width:992px){
    html{
        font-size: 10px;
    }
    
}

/* start loader style ---------------------------------------- */
#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 4rem;
    height: 4rem;
    border: 5px solid #ffffff;
    border-top: 5px solid var(--alt-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* navbar style ------------------------------------ */
.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
   z-index: 99999999999999999;
    background-color: var(--body-color);
}
.navbar .navbar-brand img{
    border-radius: 50%;
    margin: 0.5rem;
}
@media(max-width:992px){
    .navbar .navbar-brand img{
        width: 7rem !important;
      
    }
}
.navbar li{
    margin-left: 1.5rem !important;
}
.navbar i{
    font-size: 2.25rem ;
    color: var(--alt-color);
}
.navbar a{
    margin-right: 1.5rem !important;
    font-weight: 600;
    color: var(--text-color) !important;
    transition: 1s ease-in-out;
}
.navbar a:hover{
    color: var(--alt-color) !important;
    border-bottom: 3px solid var(--alt-color);
}

/* start-banner-section------------------------------ */
.banner{
    position: relative;
    width: 100%;
    padding: 0;

    
}
.banner .carousel{
   
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}


.banner h1{
    font-size: 4rem;
}
@media(max-width:992px){
    .banner h1{
        font-size: 3rem;
        margin-top: 4rem;

    } 
    .banner .layer{
        padding: 2rem;
    }
    .banner{
    
        position: relative;
        height: 90vh;
        /* margin-bottom: 7rem; */
        
    }
    .banner .carousel{
        height: 100%!important;
    }
    .banner .carousel img{
        height: 100% !important;
    
    
    }

}
.banner .carousel-control-prev , .banner .carousel-control-next{
    z-index: 44 !important;
} 
 .banner .carousel-indicators{
    z-index: 44 !important;
}
.banner img{
 opacity: 0.8;
}
 .banner .more-btn{
    background-color: var(--main-color);
    padding: 1.25rem 4rem;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: 1s all;
}
 .banner .more-btn:hover{
   background-color: var(--body-color) !important;
} 
 .banner .layer{
  position: absolute;
  right: 0;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 11;
}
/* start about title section ---------------------------------- */
.about-title{
    background: #0a0a0a;
    background-image: radial-gradient(#3e3e3e 3%, transparent 4%), radial-gradient(#545454 3%, transparent 4%);
    background-size: 3rem 3rem;
}
/* start about-section ---------------------------------------- */
.about{
    background-image: url('../images/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* margin-top: 7rem; */
    height: 100vh;

}
@media(max-width:567px){
    .about{
        height: 160vh;
        background-position: center;
    
    }
}
.about .row {
    padding-top: 5rem !important;
}
.about .col-lg-5{
    z-index: 22;
    margin-bottom: 3rem;
    padding:2rem;
    
}
@media(max-width:992px){
    .about .col-lg-5{
        padding:0;
    }
}
.about h2{
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 99;
}
.about .about-content{
    border: 3px solid var(--alt-color);
    border-radius: 2rem;
    height: 32rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s all;
}
.about-content:hover{
    transform: translateY(-1rem);
    cursor: pointer;
}
.about .layer{
    position: absolute;
    right: 0;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
  }
.about .icon{
    font-size: 2.5rem;
    color: var(--alt-color);
    font-weight: 700;
    margin-bottom: 2rem;
    animation: color 2s alternate infinite ease-out;
}
.about .icon i{
    border-radius: 50%;
    border: 4px solid var(--alt-color);
    padding: 1.5rem 1.75rem;
 
    animation: move 2s alternate infinite ease-out;

}
@keyframes move{
    0%{
        transform: translateY(-0.5rem);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0.5rem);
    }
}

.about i{
    color: var(--alt-color);
    margin-left: 0.75rem;
}
.about ul {
    list-style: none;
}
.about ul li{
    font-size: 1.25rem;
    font-weight: 500;

    line-height:2;
}
.about h3{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
/* start video section ------------------------------ */

.video .row{
    padding-top: 5rem ;
}



.video .video-container{
   /* height: 60vh !important; */
   width: 100%;
   margin: auto;
}


.video .col-lg-7{
    margin-bottom: 3rem;
}
.video .col-lg-4{
    background: #0a0a0a;
    background-image: radial-gradient(#3e3e3e 3%, transparent 4%), radial-gradient(#545454 3%, transparent 4%);
    background-size: 3rem 3rem;
    padding: 2rem;
}
.video hr{
background-color: var(--alt-color);
  
}

.video .video-content .icon{
    font-size: 3rem;
    color: var(--alt-color);
    font-weight: 700;
    padding: 0;
}
.video .video-content .icon  i{

    font-size: 4rem;
    animation: color 2s alternate infinite ease-in-out;
    margin-left: 1rem;
}
.video i{
    color: var(--alt-color);
    margin-left: 1rem;
}
@keyframes color{
    0%{
       
       color: var(--alt-color);
    }
    50%{
        
     color: rgb(112, 51, 22);
    }
    100%{
      
       color: rgb(141, 87, 17);
    }
}
.video .video-content ul {
    list-style: none;
}
.video .video-content ul li{
    font-size: 1.5rem;
    font-weight: 500;

    line-height: 2;
}

.video .video-container iframe{
    
    border: 3px solid var(--alt-color);
    width: 100%;
    height: 60vh;

}
@media(max-width:992px){
    .video .video-container iframe{
        height: 40vh;
    }
}
.video h3{
    font-size: 2rem;
    font-weight: 700;
}
/* start img-gallery-section --------------------------*/

.gallery{
    background: #0a0a0a;
    background-image: radial-gradient(#3e3e3e 3%, transparent 4%), radial-gradient(#545454 3%, transparent 4%);
    background-size: 3rem 3rem;
}
.gallery nav button {
    background-color: transparent !important;
    border: 2px solid var(--text-color) !important;
    background-color: transparent;
    outline: none !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 1.5rem;
    width: 20rem !important;
    margin: 1rem;
    padding: 0.75rem !important;
    margin-bottom: 2rem !important;
    transition: 1s all;
  
   
  }
  .gallery nav .active{
    background-color: var(--alt-color) !important;
  }
.gallery nav {
    margin-top: 4.5rem !important;
    margin-bottom: 2rem !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important ;
    
  }
.gallery .row{
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;

}
.gallery  .img-card{
    /* height: 35rem; */
    position: relative;
    /* background-color: #fff; */
    /* margin-bottom: 2rem; */

 
  }
  .gallery .col-lg-4{
    padding: 2rem !important;
    /* margin-bottom: 3rem; */
  }

  .gallery .img-card::before{
    position: absolute;
    content: "";
    top:-4px;
    left:-4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(315deg , #000 , #333131 , #0c0c0c);
    transform: skewX(2deg) skewY(4deg);
    

  }
  .gallery .img-card::after{
    position: absolute;
    content: "";
    top:-4px;
    left:-4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg, #000 , #333131 , #0c0c0c);
    /* filter: blur(2rem); */
  }
  .gallery .img-card .overlay{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 10;
  }
 
  .gallery .img-card .content{
    position: relative;
    z-index: 11;
    display: flex;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
  }
  @media(max-width:992px){
    .gallery .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  /* start footer-section ----------------------------------- */
footer{
    background-color: #000;
    padding-top: 7rem;
    
}
footer hr{
    background-color: var(--alt-color);
    height: 0.25rem;
    opacity: 1;
}
footer .container{

     background: #000000;
     background-image: radial-gradient(#3e3e3e 3%, transparent 4%), radial-gradient(#545454 3%, transparent 4%);
     background-size: 3rem 3rem;
}

footer .map iframe{
    width: 100% !important;
    height: 70vh  !important;
    opacity: 0.6;
}
@media(max-width:992px){
    footer .map iframe{
        height: 50vh  !important;
    }
}
footer .logo {
    padding-top: 3rem;
}
footer  p{
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
}
footer p::after{
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    top: 5rem;
    height: 1px;
    background-color: var(--alt-color);
}
@media(max-width:992px){
    footer p::after{
        top: 7rem;
    }
}
footer img{
    border-radius: 50%;
}
footer .phone{
    padding-bottom: 5rem;
    padding-top: 3rem;
}
footer .phone h4{
    font-weight: 600;
    margin-top: 0.5rem;
}
footer .phone i{
    color: var(--alt-color);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--alt-color);
    border-radius: 50%;
    transition: 1s all;
}
footer .phone i:hover{
    background-color: var(--alt-color);
    color: #fff;
}